<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js"
            integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Add Ticket</title>

</head>
<body>




<div class="container">
    <div class="col-sm-6  my-5">

        <h3 class="text-white">Register New Ticket </h3>
        <form th:action="@{/saveTicket}" modelAttribute="ticket" method="post">

            <h8 class="text-white">Date (dd-MM-yyyy hh:mm)</h8>
            <div class="form-group">
                <input type="text"  th:value="${ticket.date}" name="date" class="form-control" placeholder="dd-MM-yyyy hh:mm">
            </div>

            <h8 class="text-white">Film</h8>
            <div class="form-group">
                <input type="text"  th:value="${ticket.film}" name="film" class="form-control" placeholder="Title">
            </div>

            <h8 class="text-white">Cinema</h8>
            <div class="form-group">
                <input type="text"  th:value="${ticket.cinema}" name="cinema" class="form-control" placeholder="cinema">
            </div>

            <button class="btn btn-success">Save</button>
        </form>
    </div>
</div>


</body>
</html>